ul.errorlist {
  margin: 0 !important;
  padding: 0 !important;
}
ul.errorlist li {
  margin: 0 !important;
  padding: 0 !important;
  color: #f33;
  list-style-type: none !important;
}
table.asTable tbody th {
  vertical-align: top;
}

.newforms-example {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E1E4E5;
  margin: 1px 0 24px;
  padding: 12px;
}
.newforms-example label { color: #404040; }
.newforms-example .example-container form {
  margin-bottom: 16px;
}
.newforms-example .example-container .cleaned-data {
}

.newforms-example .form-field {
  margin-bottom: 6px;
}

.newforms-example .form-field.example-required label:after {
  content: " *";
  color: #e32;
}

.newforms-example .form-field.example-error input {
  background-color: #ecc;
}

.newforms-example .form-field.example-valid input {
  background-color: #cec;
}
