body {
  font-family: helvetica, arial, sans-serif;
  background: #fff;
  border: 1px solid #E1E4E5;
  margin: 0;
  padding: 12px;
}

pre {
  margin: 0;
}

ul.errorlist {
  margin: 0 !important;
  padding: 0 !important;
}
ul.errorlist li {
  margin: 0 !important;
  padding: 0 !important;
  color: #f33;
  list-style-type: none !important;
}
tbody th {
  vertical-align: top;
  text-align: right;
  padding-right: .5em;
}

label { color: #404040; }
.example-container form {
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 6px;
}

.form-field.example-required label:after {
  content: " *";
  color: #e32;
}

.form-field.example-error input {
  background-color: #ecc;
}

.form-field.example-valid input {
  background-color: #cec;
}

.form-control {
  display: block;
}

.error-message {
  font-weight: bold;
  color: #f00;
}

.help-text {
  color: #999;
}